<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <property resource="bootstrap.properties" />
    <property scope="context" name="appName" value="${spring.application.name:-local}"/>
    <property scope="context" name="logFile" value="./${appName}.log"/>
    <property scope="context" name="maxHistory" value="30"/>
    <property scope="context" name="totalSizeCap" value="100MB"/>
    <property scope="context" name="LOGSTASH_URL" value="${LOGSTASH}"/>

    <property name="JSON_ENCODER_PATTERN" value='{
        "severity": "%level",
        "service": "${appName:-}",
        "trace": "%X{X-B3-TraceId:-}",
        "span": "%X{X-B3-SpanId:-}",
        "parent": "%X{X-B3-ParentSpanId:-}",
        "pid": "${PID:-}",
        "thread": "%thread",
        "class": "%logger",
        "message": "%message"
        }'
    />

     <appender name="localfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logFile}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logFile}.%d{yyyy-MM-dd}</fileNamePattern>
            <maxHistory>${maxHistory}</maxHistory>
            <totalSizeCap>${totalSizeCap}</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

     <appender name="elk" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>${LOGSTASH_URL}</destination>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <timeZone>UTC</timeZone>
                </timestamp>
                <pattern>
                    <pattern>${JSON_ENCODER_PATTERN}</pattern>
                </pattern>
                <logstashMarkers/>
                <stackTrace/>
            </providers>
        </encoder>
    </appender>
 
    <root level="INFO">
    <appender-ref ref="elk"/>
    <appender-ref ref="localfile"/>
    </root>
</configuration>

 
